header {
  background-color: #FFFFFF;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
}

.logo {
  background-image: url('../images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  margin-left: 20px;
}
